<html>
<head>
    <title>An adventure golang project</title>
    <style>
        body {background-color: #e0e6b0;}
        h2 {color: rgba(0, 0, 0, 0.87);}
        p {color: blue;}
        div {color: blue;}
        .contentContainer {
            max-width: 600px;
            margin: auto;
        }
    </style>
</head>
<body style="margin:auto;padding:200px">
<div class="contentContainer">
    <h2>{{.Title}}</h2>
    <br>
    {{range $index, $elem := .Story}}
    <div>{{$elem}}</div>
    {{end}}
    <br>
    {{range $index, $elem := .Options}}
        <a href=$elem.Arc>{{$elem.Text}}</a>
        <br><br>
    {{end}}
</div>
</body>
</html>